#### Series vs Dataframe
* Series is 1d labelled array
* Dataframe is 2d tabular structure

In [3]:
import pandas as pd
dates = pd.date_range('20230101', periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame({
    'dates':dates,
    'letters': list("abcdef"), 
    'numbers':1
})
df

       dates letters  numbers
0 2023-01-01       a        1
1 2023-01-02       b        1
2 2023-01-03       c        1
3 2023-01-04       d        1
4 2023-01-05       e        1
5 2023-01-06       f        1

In [16]:
df.tail(1)

   index      dates letters  numbers
5      5 2023-01-06       f        1

In [23]:
df.loc[0,["dates"]]

dates    2023-01-01 00:00:00
Name: 0, dtype: object